<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>
            <?=__('Calubini Group 2012 - Manufatti in cemento - Muri di contenimento - Grandivasi - Pietravera',true)?>
        </title>
        <link href="css/syle1.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            <!--
            function MM_preloadImages(){ //v3.0
                var d = document;
                if (d.images) {
                    if (!d.MM_p) 
                        d.MM_p = new Array();
                    var i, j = d.MM_p.length, a = MM_preloadImages.arguments;
                    for (i = 0; i < a.length; i++) 
                        if (a[i].indexOf("#") != 0) {
                            d.MM_p[j] = new Image;
                            d.MM_p[j++].src = a[i];
                        }
                }
            }
            
            function MM_swapImgRestore(){ //v3.0
                var i, x, a = document.MM_sr;
                for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) 
                    x.src = x.oSrc;
            }
            
            function MM_findObj(n, d){ //v4.01
                var p, i, x;
                if (!d) 
                    d = document;
                if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                    d = parent.frames[n.substring(p + 1)].document;
                    n = n.substring(0, p);
                }
                if (!(x = d[n]) && d.all) 
                    x = d.all[n];
                for (i = 0; !x && i < d.forms.length; i++) 
                    x = d.forms[i][n];
                for (i = 0; !x && d.layers && i < d.layers.length; i++) 
                    x = MM_findObj(n, d.layers[i].document);
                if (!x && d.getElementById) 
                    x = d.getElementById(n);
                return x;
            }
            
            function MM_swapImage(){ //v3.0
                var i, j = 0, x, a = MM_swapImage.arguments;
                document.MM_sr = new Array;
                for (i = 0; i < (a.length - 2); i += 3) 
                    if ((x = MM_findObj(a[i])) != null) {
                        document.MM_sr[j++] = x;
                        if (!x.oSrc) 
                            x.oSrc = x.src;
                        x.src = a[i + 2];
                    }
            }
            
            //-->
        </script>
        <script type="text/javascript" src="js/jquery-1.3.1.min.js">
        </script>
        <script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js">
        </script>
    </head>
    <body onload="MM_preloadImages('images/homepagebanner.jpg','images/muridicontenimentobanner.jpg','images/manufattibanner.jpg','images/contactbnner.jpg')">
		<?= $this->element('header') ?>
		<?= $this->element('navbarMain') ?>
        <div class="banner">
            <img src="images/homepagebanner.jpg" alt="homepage" name="swap" width="984" height="158" id="swap" />
        </div>
        <div class="holderintro">
        </div>
        <div class="footer">
            CALUBINI S.r.l. - 25018 Montichiari (BS) Italia - T .+39 030 961793 - M. <a href="mailto:info@calubini.com">info@calubini.com</a>
            - NR. ISCR. CAM. COMMERCIO 02820870984 - CAP.SOCIALE &euro; 100.000,00 I.V. - REA 481397 
        </div>
    </body>
</html>
