/*GENERAL*/

@font-face
{
font-family: Dekers;
src: url('Dekers.ttf');
}

html {
	min-height: 100%
}

* {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Helvetica, Arial, sans-serif,quantico;
	color: #727272;
    font-size: 9pt;
    letter-spacing: 0.7px;
    text-decoration: none;
    border: none;	
}

body {
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fdfdfd 0%, #cccccc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd),
		color-stop(100%, #cccccc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #cccccc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdfdfd 0%, #cccccc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdfdfd 0%, #cccccc 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fdfdfd 0%, #cccccc 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#fdfdfd',
		endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
	min-width: 1015px
}

img.shadow{
	top: 56px
}

img.right-shadow{
	float: right;
}

img.left-shadow{
	float: left;
}

ul{
	list-style-type: none;
}

ul li{
	float: left;
}

.container_12 .grid_4 {
    width: 319px;
}

.centered{
	margin-left: auto;
	margin-right: auto;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

/*CONTAINERS*/

.main-overlay{
	background: #FFF;
	width: 996px;
}

.main-container {
	padding-top: 33px;
	width: 1015px;
}

.main-content {
	width: 988px;
}

span.header-overlay {
    background: url("img/section/section_r1_c1_s1.png") repeat-x scroll 0 0 transparent;
    height: 179px;
    position: absolute;
    width: 100%;
}

span.header-overlay img.bar {
    bottom: 0;
    height: 36px;
    position: absolute;
    width: 50%;
}

span.header-overlay img.header-orangebar {
    right: 0;
}

span.header-overlay img.header-blackbar {
    left: 0;
}

div.header {
    height: 110px;
    margin: 0 14.5px;
}

div.header.intro {
    text-align: center;
}

img.header-logo {
    margin: 0 25px;
}

span.sections {
    position: absolute;
    right: 0;
}

span.sections img.section-name {
    right: 5px;
}

div.section-menu-container {
}

div.section-logos {
    border-bottom: 1px solid #727274;
    margin: 5px 5px 0;
}

div.intro-logo {
    height: 218px;
    margin: 5px 0;
    right: 5px;
    width: 998px;
}

div.intro-logo>label {
    position: absolute;
    z-index: 1;
}

div#section_container{
	min-height: 485px;
}

.container_12.home {
    margin-top: 13px;
    width: 978px;
}

.grid_8.home-left-panel{
    border-right: 1px dotted #CCC;
    width: 618px;
    height: 485px;
}

.grid_8.intro-left-panel{
    height: 426px;
    width: 537px;
}

.grid_4.intro-right-panel{
    margin: 0;
    top: 23px;
    width: 421px;
}

/*INTRO PAGE PRODUCT IMAGES*/
.intro-right-panel ul.intro-product-list li, ul.download-section li {
	display: inline;
	text-align: center;
}

.intro-right-panel ul.intro-product-list li p {
	font-weight: bold;
	line-height: 28px;
}
div.addthis_toolbox {
    bottom: 35px;
    float: right;
    position: absolute;
    right: 5px;
}

div.footer-links-intro {
    border-top: 1px dotted #CCCCCC;
    margin: 7px 7px 0 34px;
    padding: 5px 0;
}

div.footer-links-intro > a {
    font-size: 13px;
}
/*SECTION PAGE HEADER PRODUCT SELECTION*/
.header ul.section-product-list{
	width: 139px
}
.header ul.section-product-list li{
	line-height: 17px;
    width: 100%;
    text-align: right;
}
.header ul.section-product-list li a{
	background: url('img/section/section_r1_c16.png') no-repeat right center;
	font-family: sans-serif;
    font-size: 8pt;
    letter-spacing: 0;
    padding-right: 19px;
}
.header ul.section-product-list li a:hover, .header ul.section-product-list li a.selected-product{
	background: url('img/section/section_r7_c16.png') no-repeat right center;
}

/*HOMEPAGE SECTION*/
div.home-text{
	float: left;
    margin: 18px 0 0 3px;
    width: 291px;
    height: 377px;
}

div.home-text.intro{
    margin-top: 5px;
    width: 538px;
    height: 417px;
    background: url('img/intro/intro_r13_c6.png');
}

div.home-text.intro>div {
    height: 360px;
    left: 66px;
    top: 28px;
    width: 436px;
    overflow: hidden;
}
div.home-text.intro>div p, div.home-text.section > div.intro-text>p, 
div.home-text.section > div.intro-text h1 *, div.home-text.section > div.intro-text h1,
div.home-text.section > div.intro-text h2 *, div.home-text.section > div.intro-text h2,
div.home-text.section > div.intro-text h3 *, div.home-text.section > div.intro-text h3,
div.home-text.section > div.intro-text h4 *, div.home-text.section > div.intro-text h4 {
	letter-spacing: 0.3px;
    font-size: 9pt;
    line-height: 26px;
    margin-bottom: 26px;
}
div.home-text.section > div.intro-text >  p, div.home-text.section > div.intro-text h1, 
div.home-text.section > div.intro-text h2 *, div.home-text.section > div.intro-text h2,
div.home-text.section > div.intro-text h3 *, div.home-text.section > div.intro-text h3,
div.home-text.section > div.intro-text h4 *, div.home-text.section > div.intro-text h4 {
    line-height: 22px;
}

div.home-image-container {
    float: right;
    text-align: center;
    top: 25px;
    width: 320px;
}

div.home-image {
    text-align: center;
}

span.home-image img.brochure-image {
    margin-bottom: 40px;
}

span.home-image img.brochure-text, span.home-image p.brochure-text {
    bottom: 0;
    position: absolute;
}    

span.home-image p.brochure-text-event {
    right: 25px;
    color: #666666;
    float: right;
    font-size: 11px;
    letter-spacing: 0;
    text-align: right;
    line-height: 14px;
}

span.home-image img.brochure-text-decoration {
	bottom: 2px;
    right: 9px;
}
li.home-article {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 12.5px;
    padding-bottom: 12.5px;
}
li.home-article a.photo {
    border: 1px solid #CCCCCC;
    float: left;
    height: 75px;
    padding: 7px 7px 3px;
    width: 94px;
}
li.home-article p.name {
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    left: 10px;
    width: auto;
}
li.home-article div.description {
    float: right;
    height: 55px;
    right: 5px;
    width: 196px;
    overflow: hidden;
}
li.home-article div.description > p {
	line-height: 17px;
}
p.subtitle, 
div.home-text.section > div.intro-text h1 *, div.home-text.section > div.intro-text h1,
div.home-text.section > div.intro-text h2 *, div.home-text.section > div.intro-text h2,
div.home-text.section > div.intro-text h3 *, div.home-text.section > div.intro-text h3,
div.home-text.section > div.intro-text h4 *, div.home-text.section > div.intro-text h4 {
    color: #F27C00;
}

/*CONTATTACI SECTION*/
div.contattaci-map{
    margin-top: 10px;
    width: 552px;
    height: 427px;
    background: url('img/contattaci/contattaci_r1_c1_s1.png');
}

div.contattaci-map>div {
    height: 360px;
    left: 66px;
    top: 28px;
    width: 436px;
    overflow: hidden;
    border-radius: 7px 7px 7px 7px;
}

div.contattaci-form-container {
    line-height: 26px;
    margin-top: 10px;
    font-weight: bold;
}

div.contattaci-form-container a {
	font-size: 19px;
    right: 32px;
}

ul.contattaci-info input, ul.contattaci-info textarea {
    border: 1px solid #CCCCCC;
    padding: 2px;
    width: 280px;
}

ul.contattaci-info label {
    display: block;
}

div.contattaci-data {
    margin: 6px 46px;
}
div.contattaci-data img.contattaci-phone-logo {
    float: left;
}
div.contattaci-data img.contattaci-phone {
    margin-left: 13px;
    top: 17px;
}

/*CATALOG SECTION*/
tr.catalog-item {
    height: 268px;
    width: 100%;
}
tr.catalog-item td {
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    padding: 20px 0;
}
tr.catalog-item a.photo{
    border: 1px solid #CCCCCC;
    float: left;
    height: 243px;
    margin: 0 10px 25px;
    overflow: hidden;
    padding: 9px;
    width: 251px;
}

tr.catalog-item a.photo span {
    height: inherit;
    overflow: hidden;
    position: absolute;
}

tr.catalog-item a.photo img, li.home-article a.photo img {
    width: 100%;
}

tr.catalog-item p.name, label.articles-label {
    background-image: url("img/section/catalog/decortitolo.gif");
    background-position: right bottom;
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    left: 20px;
    padding-right: 20px;
    width: auto;
    float: left;
}
label.articles-label {
    left: 8px;
	margin-bottom: 40px;    
    padding-right: 76px;
}

tr.catalog-item p.pdf {
    background-image: url("img/section/catalog/top_s.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    margin: 58px 25px 25px 0;
    padding: 8px 18px 0 0;
    width: auto;
}
tr.catalog-item p.contattaci {
    background-image: url("img/section/catalog/top_l.png");
}
tr.catalog-item iframe.description {
    float: right;
    height: 155px;
    top: 20px;
    width: 649px;
    right: 5px;
}
tr.catalog-item iframe.description.case {
    height: 382px;
}

tr.catalog-item ul.catalog-item-carousel {
    border-top: 1px dotted #CCCCCC;
    float: left;
    padding: 25px 0 10px 0;
    width: 100%;
    white-space: nowrap;
}
ul.catalog-item-carousel>li {
    margin: 0 1px;
}
ul.catalog-item-carousel>li.slide-control {
    top: 35px;
}
ul.catalog-item-carousel>li.catalog-slider {
	height: 100px;
    overflow: hidden;
    width: 898px;
}
ul.catalog-item-carousel ul.carousel {
    white-space: nowrap;
}

ul.carousel>li {
    display: inline-block;
    float: none;
    height: 100px;
    margin: 0 23.5px;
    width: 100px;
}
ul.carousel li img {
    width: 100%;
}

div.catalog-paging {
    text-align: center;
    border-top: 1px dotted #CCCCCC;
    padding: 40px 0;
    font-weight: bold;
}

/*CASE SECTION*/
tr.catalog-item.case p.name {
    padding-right: 25px;
}
tr.catalog-item.case td {
    border-bottom: none;
}
ul.case-links{
	left: 14px;
	width: 175px;
}
ul.case-links>li{
    float: none;
    height: 40px;
    margin-bottom: 16px;
}
ul.case-links>li img{
	display: inline-block;
	float: left;
	width: 35px;
}
ul.case-links>li label{
	float: left;
    line-height: 39px;
    margin-left: 10px;
}

/*APPLICATION SECTION*/
div.application-vga{
    margin-top: 10px;
    height: 433px;
    width: 608px;
    background: url('img/section/application/application_s1.png');
}
div.application-vga>div {
    background-size: 100% auto;
    height: 388px;
    left: 0;
    overflow: hidden;
    top: 22px;
    width: 594px;
}
div.application-vga > .application-text-decoration {
    top: 43px;
}
div.application-vga > p.application-text {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 18px;
    white-space: nowrap;
    width: 450px;
}
ul.carousel.application{
    margin-top: 15px;
}
ul.carousel.application > li {
    float: left;
}


/*SOCIAL SECTION*/
p.social-info{
	font-size: 21px;
    margin: 20px 13px;
}
ul.social-accounts{
    height: auto;
    width: auto;
    top: 50px;	
}
ul.social-accounts> li.social-account{
    background: url("img/section/social/social_s1.png") no-repeat scroll 0 0 transparent;
    height: 247px;
    margin: 0 41.5px;
    width: 243px;
}
li.social-account p.brief {
    background: url("img/section/social/social_book.png") no-repeat scroll center top transparent;
    height: 50%;
    margin-top: 14px;
    padding-top: 76px;
    width: 206px;
}
li.social-account p.brief.tweet {
    background: url("img/section/social/social_tweet.png") no-repeat scroll center top transparent;
}
li.social-account p.brief.tube {
    background: url("img/section/social/social_tube.png") no-repeat scroll center top transparent;
}
li.social-account>a {
    float: left;
    font-weight: bold;
    left: 18.5px;
    width: 128px;    
}

/*DOWNLOAD SECTION*/
.container_12.download {
    margin-top: 6px;
    width: 978px;
}

ul.download-section {
    border-top: 1px dotted #CCCCCC;
    padding-top: 20px;
}

ul.download-section li {
	margin: 11px 34px 7px 34px;
}

ul.download-section li img {
	box-shadow: 4px 4px 7px gray;
}

ul.download-section li p {
	margin-top: 7px;
	position: absolute;
}

/*------------------------------------*/

img.lemma {
    bottom: 2px;
    display: block;
    position: absolute;
    right: 17px;
    z-index: -1;
}

img#section_logo{
	width: 631px;
	height: 158px;
}

p.footer-text {
    border-top: 1px dotted gray;
    color: #999999;
    font-size: 7.8pt;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 25px;
    margin: 5px 4px 0;
    text-align: center;
}

p.footer-text-intro {
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
    margin: 0 34px;
    text-align: left;
}

p.footer-text-intro > span {
    color: #F27B00;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
}

/*----------------------*/
table.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td img {
	display: block;
}

.section-menu{
	width: 988px;
	height: 31px;
	background-image: url('img/section/section_r15_c3.png');
}

.section-menu span.options {
    float: right;
    line-height: 35px;
    width: 761px;
}

.section-menu span#selected_product {
    float: left;
    font-family: Dekers;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    width: 218px;
}

.section-menu span a {
    float: left;
    width: 109px;
    text-align: center;
    color: #000000;
}

.section-menu a.current-link-selection {
    color: #F27C00;
}

.header ul.section-product-list li a:hover, .header ul.section-product-list li a.selected-product, .section-menu span a:hover, .section-menu span#selected_product, .current, a.current-link-selection {
    color: #F27C00;
}

/*SECTION LINKS WITH SPECIAL WIDTH*/
.section-menu span a.catalogo-link {
    width: 107px;
}
.section-menu span a.case-link {
    width: 105px;
}
.section-menu span a.social-link {
    width: 120px;
}
.section-menu span a.contattaci-link {
    width: 99px;
}

.intro-menu{
	width: 988px;
	height: 31px;
	background-image: url('img/intro/menuInfo_s1_s1.png');
}

.intro-menu span {
    line-height: 31px;
    width: 100%;
}

.selection-overlay {
    background: rgba(242, 126, 5, 0.7);
    height: 218px;
    position: absolute;
    font-size: 11px;
    text-align: center;
    z-index: 2;
}

.selection-overlay p {
    text-align: left;
    width: 91%;
    color: #FFFFFF;
    font-size: 12px;
}
.selection-overlay>a {
    bottom: 0;
    position: absolute;
    right: 0;
    height: 21.7px;
}

.selection-overlay>label img {
	margin-top: 6px;
}

.intro-menu span a {
    float: left;
    text-align: center;
    height: 34px;
    line-height: 34px;
}

.intro-menu span a.intro-menu-link {
	background: url("img/intro/menuInfo_separator.png") no-repeat scroll 0 7px transparent;
}

.intro-menu a.muri {
    width: 286px;
}
span.muri {
    width: 290px;
}
.intro-menu a.manufatti, span.manufatti {
    width: 289px;
}
.intro-menu a.grandivasi, span.grandivasi {
    width: 206px;
}
.intro-menu a.pietravera{
    width: 207px;
}
span.pietravera {
    width: 212px;
}

img.intro-menu-link-image {
    vertical-align: middle;
}