body {
  margin: 0px;
}
img {
  margin: 0px;
  border: none;
}
#header {
  width: 100%;
  background: url('/img/top-header-effect.jpg') no-repeat;
  height: 120px;
  padding-top: 12px;
}
.logo-header {
  background: url('/img/logo.png') no-repeat;
  width: 163px;
  height: 83px;
  margin: 0px auto;
}

.container-left-top {
  background: url('/img/navbar-black.jpg') repeat-x;
  height: 36px;
  width: 100%;
}
.container-left-line {
  background: url('/img/line-left.jpg') no-repeat;
  width: 15px;
  height: 714px;
  float: right;
}
.container-left-bg {
  background: url('/img/bg-gray.jpg') repeat-x;
  float: left;
  min-height: 714px;
  min-width: 117px;
}

.container-right-top {
  background: url('/img/navbar-orange.jpg') repeat-x;
  height: 36px;
  width: 100%;
}
.container-right-line {
  background: url('/img/line-right.jpg') no-repeat;
  width: 15px;
  height: 714px;
  float: left;
}
.container-right-bg {
  background: url('/img/bg-gray.jpg') repeat-x;
  float: right;
  min-height: 714px;
  min-width: 117px;
}

.cont{
    display: table;
    table-layout: fixed;
    width: 100%;
    background: #CCCCCC;
}
.cont > div{
    display: table-cell;
}

.mid{
    width: 998px;
    vertical-align: top;
    background: #fff;
}

.left{
    position:absolute;
    float:left;
}

.right{
    position:absolute;
    float:right;
}
#content-body {
	margin: 25px 5px 25px 12px;
}
#text-home {
	background: url('/img/bg-text-intro.png') no-repeat;
	width: 539px;
	height: 419px;
}
#link_img_to_other {
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	width: 420px;
}
#link_img_to_other p{
	text-align: center;
	color: #999999;
	font-weight: bold;
}
#menu-at-center {
	width: 997px;
	height: 36px;
}
#footer {
  clear: both;
  padding-top: 15px;
  width: 600px;
  margin-left: 30px;
}
​