@charset "UTF-8";
body {
	background-attachment: scroll;
	background-image: url(../images/sfondo.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #CCCCCC;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 120%;
	color: #333;
}#page-wrap							{
	width: 720px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 36px;
	display: block;
	overflow: visible;
	z-index: 1;
	background-attachment: scroll;
	background-image: url(../images/navigator.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFF;
	padding-left: 280px;
} 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }

/* 
	LEVEL ONE
*/
ul.dropdown                         {
	position: relative;
	visibility: visible;
	height: 36px;
	padding-top: 10px;
}
ul.dropdown li                      {
	font-weight: bold;
	float: left;
	zoom: 1;
}
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                {

}
ul.dropdown li a                    {
	display: block;
	padding: 4px 8px;
	color: #222;
}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                {
	color: black;
	position: relative;
}
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{
	width: 220px;
	position: absolute;
	top: 100%;
	visibility: hidden;
	left: -40px;
}
ul.dropdown ul li 					{
	font-weight: normal;
	background: #f6f6f6;
	color: #000;
	float: none;
}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 
.righthandside {
	float: right;
	height: auto;
	width: 370px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: center;
	margin-top: 40px;
}
.formfields {
	color: #666;
	padding: 2px;
	border: 1px solid #CCC;
	width: 300px;
}



/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

.muridicontenimento {
	float: left;
	width: 160px;
	margin-left: 15px;
	text-align: center;
}
.manufatti {
	float: left;
	width: 150px;
	margin-left: 20px;
	text-align: center;
}

.sopra {
	height: 122px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-attachment: scroll;
	background-image: url(../images/telephone.png);
	background-repeat: no-repeat;
	background-position: 740px center;
}
.navbar {
	height: 36px;
	width: 100%;
	background-attachment: scroll;
	background-image: url(../images/middlebar.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #FFF;
}
.navigator {
	background-attachment: scroll;
	background-image: url(../images/navigator.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding-top: 10px;
}
.holderintro {
	height: 550px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.banner {
	padding: 0px;
	height: 158px;
	width: 984px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
.footer {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-align: center;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.contact {
	float: left;
	width: 100px;
	margin-left: 10px;
	text-align: center;
}
a:hover {
	color: #CF6A02;
}
.active {
	color: #F07C00;
}


.footer a {
	color: #DB7103;
	text-decoration: none;
}
.lefthomepage {
	float: left;
	height: 404px;
	width: 460px;
	background-attachment: scroll;
	background-image: url(../images/calubinigroupbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 30px;
	line-height: 150%;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
}
.links {
	color: #333;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: #333;
}

.homepageb {
	width: 130px;
	height: 20px;
	text-align: center;
	margin-left: 260px;
	display: block;
	float: left;
}
.pdfwriting {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}
.righthandsideform {
	float: right;
	height: auto;
	width: 340px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: dotted;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding-left: 30px;
	margin-top: 20px;
}
.holderform {
	height: 500px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.product {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: dotted;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
.productdesc {
	float: right;
	width: 630px;
	padding-right: 20px;
	margin-top: 10px;
}.decortitolo {
	background-image: url(../images/decortitolo.gif);
	background-position: right bottom;
	height: 25px;
	width: 300px;
	background-repeat: no-repeat;
	font-weight: bold;
}
.bigimage {
	float: left;
	width: 270px;
	text-align: center;
	border: 1px solid #CCC;
	height: 260px;
	padding-top: 10px;
	margin-left: 20px;
	margin-top: 10px;
}
.scroller {
	width: 940px;
	float: left;
	margin-left: 20px;
	height: 100px;
	margin-top: 10px;
}
.product {
	height: 400px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.holderproducts {
	height: 820px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.smedia {
	float: right;
	width: 70px;
	margin-top: -115px;
}
.decortitolomnaufatti {
	background-image: url(../images/decortitolo.gif);
	background-position: right bottom;
	height: 25px;
	width: 270px;
	background-repeat: no-repeat;
	font-weight: bold;
}
.bigimagelarge {
	float: left;
	width: 270px;
	text-align: center;
	border: 1px solid #CCC;
	height: auto;
	padding-top: 10px;
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.holderproducts2 {
	height: 1300px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.productlarge {
	height: 560px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.holderproducts3 {
	height: 2400px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.productlarge2 {
	height: 700px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.productlargesmall {
	height: 450px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.productlarge3 {
	height: 740px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.holderproducts3 {
	height: 1300px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.holderproducts4 {
	height: 2000px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.productlargexsmall {
	height: 350px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.holderproducts5 {
	height: 3000px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.holderproducts35 {
	height: 1500px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.holderproducts6 {
	height: 5300px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.productlarge4 {
	height: 1000px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.holderproducts7 {
	height: 5600px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.holderproducts5B {
	height: 3400px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
.holderproducts5C {
	height: 4200px;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 5px;
}
