<!-- File: /app/views/posts/add.ctp -->
<div class="row">
    <div id="survey_wizard" class="span10 offset1">
        <div class="widget">
            <div class="widget-header">
                <h3>Edit Muri Catalog</h3>
            </div>
            <div class="widget-content">
                <?php
                echo $form->create('MuriCategoryCatalog', array('action' => 'admin_edit'));
                echo $form->input('MuriCategoryCatalog.id', array('type' => 'hidden'));
                echo $form->input('MuriCategoryCatalog.name', array('label' => 'Name'));
                echo $form->input('MuriCategoryCatalog.order', array('label' => 'Order'));
                echo $form->submit('Save', array('class' => "btn"));
                echo $form->end();
                ?>
            </div>
        </div>
    </div>
</div>