<?php
  debug($case_studies);
  if(!empty($id)){
    foreach($case_studies as $index => $case_studie):
      if($id == $case_studie[$index]['CaseStudy']['id']){
        echo "<a href='/muri/case_study/".$case_studie[$index]['CaseStudy']['id']."'> ".$case_studie[$index]['CaseStudy']['title']." - </a>";
      }
      else {
        echo "<a href='/muri/case_study/".$case_studie[$index]['CaseStudy']['id']."'> ".$case_studie[$index]['CaseStudy']['title']." - </a>";
      }
    endforeach;
  }
  else {
    foreach($case_studies as $index => $case_studie):
      echo "<a href='/muri/case_study/".$case_studie[$index]['CaseStudy']['id']."'> ".$case_studie[$index]['CaseStudy']['title']." - </a>";
    endforeach;
  }
?>