<p><?= $message['nome'] ?></p>
<p><?= $message['azienda'] ?></p>
<p><?= $message['indirizzo'] ?></p>
<p><?= $message['telefono'] ?></p>
<p><?= $message['email'] ?></p>
<p><?= $message['richiesta'] ?></p>